@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@900&display=swap");
:root {
    --font-Montserrat: "Montserrat", sans-serif;
    --font-Poppins: "Poppins", sans-serif;
    --white: #ffffff;
    --black: #000000;
    --gray-50: #0a0a0a;
    --gray-100: #1a1a1a;
    --gray-200: #2a2a2a;
    --gray-300: #3a3a3a;
    --gray-400: #6a6a6a;
    --gray-500: #8a8a8a;
    --gray-600: #aaaaaa;
    --accent-blue: #2563eb;
    --accent-text: #188bff;
    --hover-button-effect: #54017a;
    --btn-primary: #8028b3;
    --btn-primary-hover: #5f2581;
    --bg: black;
    --green-dot: #00b361;
    --feature-icon-bg: #981ddf;
    --purple: #B100FF;
    --red: #ef4444;
    --orange: #f59e0b;
    --green: #0bc15b;
    --card-color: rgba(255, 255, 255, 0.05);
    --card-color-2: rgba(255, 255, 255, 0.02);
    --card-border: rgba(255, 255, 255, 0.08);
}

html,
body {
    font-family: var(--font-Poppins);
    background: var(--bg);
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
}

a {
    color: inherit;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}